/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#lightbtnOn{
	-fx-background-color: green;
	
}
#lightbtnOff{
	-fx-background-color: red;
}
#motorbtnOn{
	-fx-background-color: green;
}
#motorbtnOff{
	-fx-background-color: red;
}